<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1 align="center">Welcome to text analyzer</h1>
<h2 align="center">Enter your text below</h2>
<form action='analyze',method ='get'>
    <textarea name ='text' data-gramm="false" wt-ignore-input="true" style="width: 1322px; height: 115px;"></textarea>
     <input type="checkbox" name="removepunc">Remove Punctuations</input><br>
    <button type="analyze">analyze text</button>
</form>
</body>
</html>